In [64]:
import pandas as pd
from collections import Counter
%matplotlib inline

In [144]:
df_1 = pd.read_csv('data_clean_1.csv')
df_2 = pd.read_csv("data_clean.csv")

In [142]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
Unnamed: 0           2000 non-null int64
formatted_address    2000 non-null object
latitude             2000 non-null float64
longitude            2000 non-null float64
postcode             2000 non-null object
Floors               2000 non-null float64
Units                1842 non-null float64
Construction Year    1986 non-null float64
Type                 2000 non-null object
Area                 2000 non-null float64
dtypes: float64(6), int64(1), object(3)
memory usage: 156.4+ KB

In [143]:
df = pd.concat([df_1, df_2], sort=False)
df.drop(columns=['Unnamed: 0'], inplace=True)

In [192]:
df = pd.read_csv('all_dataset_heightest_1.csv')
df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], inplace=True)

In [193]:
df.head()

,Area,Construction Year,Floors,Type,Units,formatted_address,latitude,longitude,postcode,Height
0,598.0,1880.0,4.0,Residential,8.0,"215 Rue de la Commune O, Montréal, QC H2Y 3W8,...",45.501999,-73.553966,H2Y 3W8,30.0
1,2041.0,1861.0,11.0,Office,NaN,"1015 Rue St-Alexandre, Montréal, QC H2Z 1N9, C...",45.503052,-73.562862,H2Z 1N9,110.0
2,378.0,1967.0,5.0,Residential,8.0,"221 Rue de la Commune O, Montréal, QC H2Y 2C9,...",45.501829,-73.553948,H2Y 2C9,37.5
3,681.0,1885.0,3.0,Office,NaN,"321 Rue de la Commune O, Montréal, QC H2Y 2E1,...",45.500698,-73.553653,H2Y 2E1,30.0
4,344.0,1925.0,5.0,Residential,8.0,"1101 Rue St-Alexandre, Montréal, QC H2Z 1P8, C...",45.504124,-73.564819,H2Z 1P8,37.5

In [194]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3155 entries, 0 to 3154
Data columns (total 10 columns):
Area                 2119 non-null float64
Construction Year    2577 non-null float64
Floors               2600 non-null float64
Type                 3155 non-null object
Units                1842 non-null float64
formatted_address    2619 non-null object
latitude             3155 non-null float64
longitude            3155 non-null float64
postcode             2612 non-null object
Height               3144 non-null object
dtypes: float64(6), object(4)
memory usage: 246.6+ KB

In [195]:
df['Type'] = df['Type'].apply(lambda x: 'residential' if 'residential' in str(x).lower() else 'commercial' if 'office' in str(x).lower() else x)

In [200]:
df1 = df[df['Type'].notnull()]
df1 = df1[df1['Construction Year'].notnull()]
df1 = df1[df1['Units'].notnull()]
# df1.drop(columns=['Height'], inplace=True)

In [201]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1828 entries, 0 to 1999
Data columns (total 10 columns):
Area                 1828 non-null float64
Construction Year    1828 non-null float64
Floors               1828 non-null float64
Type                 1828 non-null object
Units                1828 non-null float64
formatted_address    1828 non-null object
latitude             1828 non-null float64
longitude            1828 non-null float64
postcode             1828 non-null object
Height               1828 non-null object
dtypes: float64(6), object(4)
memory usage: 157.1+ KB

In [202]:
df1.head()

,Area,Construction Year,Floors,Type,Units,formatted_address,latitude,longitude,postcode,Height
0,598.0,1880.0,4.0,residential,8.0,"215 Rue de la Commune O, Montréal, QC H2Y 3W8,...",45.501999,-73.553966,H2Y 3W8,30.0
2,378.0,1967.0,5.0,residential,8.0,"221 Rue de la Commune O, Montréal, QC H2Y 2C9,...",45.501829,-73.553948,H2Y 2C9,37.5
4,344.0,1925.0,5.0,residential,8.0,"1101 Rue St-Alexandre, Montréal, QC H2Z 1P8, C...",45.504124,-73.564819,H2Z 1P8,37.5
8,187.0,1832.0,2.0,residential,1.0,"131 Rue du Port, Montréal, QC H2Y 2N9, Canada",45.501861,-73.554396,H2Y 2N9,15.0
11,439.0,1900.0,4.0,residential,5.0,"371 Rue Dowd, Montréal, QC H2Z 1B6, Canada",45.504475,-73.564018,H2Z 1B6,30.0

In [203]:
# # df1.hist(column=['postcode'])
# a = df1['postcode']
# letter_counts = Counter(a)
# tmp_df = pd.DataFrame.from_dict(letter_counts, orient='index')
# tmp_df.plot(kind='bar', )

In [204]:
cols_to_keep = ['latitude','longitude', 'Units','Construction Year', 'Type', 'Area', 'Floors','Height']

In [212]:
filtered_df = df1[cols_to_keep]
filtered_df.reset_index(inplace=True, drop=True)

In [214]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1828 entries, 0 to 1827
Data columns (total 8 columns):
latitude             1828 non-null float64
longitude            1828 non-null float64
Units                1828 non-null float64
Construction Year    1828 non-null float64
Type                 1828 non-null object
Area                 1828 non-null float64
Floors               1828 non-null float64
Height               1828 non-null object
dtypes: float64(6), object(2)
memory usage: 114.4+ KB

In [213]:
filtered_df.head()

,latitude,longitude,Units,Construction Year,Type,Area,Floors,Height
0,45.501999,-73.553966,8.0,1880.0,residential,598.0,4.0,30.0
1,45.501829,-73.553948,8.0,1967.0,residential,378.0,5.0,37.5
2,45.504124,-73.564819,8.0,1925.0,residential,344.0,5.0,37.5
3,45.501861,-73.554396,1.0,1832.0,residential,187.0,2.0,15.0
4,45.504475,-73.564018,5.0,1900.0,residential,439.0,4.0,30.0

In [209]:
filtered_df.to_csv("filtered.csv", index=False)

In [210]:
filtered_df['Type'].unique()

array(['residential', 'Commercial'], dtype=object)

In [211]:
filtered_df.describe()

,latitude,longitude,Units,Construction Year,Area,Floors
count,1828.000000,1828.000000,1828.000000,1828.000000,1828.000000,1828.000000
mean,45.510088,-73.578899,5.774617,1920.292670,298.315098,2.481400
std,0.012526,0.011593,35.810554,37.147736,2510.795005,1.783026
min,45.481468,-73.596046,1.000000,1830.000000,8.000000,1.000000
25%,45.499125,-73.588238,1.000000,1900.000000,108.000000,2.000000
50%,45.515403,-73.583000,2.000000,1910.000000,189.000000,2.000000
75%,45.520330,-73.569229,3.000000,1947.750000,265.000000,3.000000
max,45.526096,-73.553165,1351.000000,2015.000000,106022.000000,33.000000

In [173]:
import numpy as np
from sklearn.preprocessing import LabelEncoder
import random
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [186]:
train = filtered_df.sample(frac=0.8,random_state=200) #random state is a seed value
test = filtered_df.drop(train.index)

cols = list(train.columns)
cols.remove('Floors')
train_y = train['Floors']
train_x = train[cols]

test_y = train['Floors']
test_x = train[cols]